@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../img/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
} 

#cta {
    background-image: url('../img/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    body {
        background-position: 50px -50px;
        background-size: 500px;
    }

    #cta {
        background-image: url('../img/bg-simplify-section-mobile.svg');
    }

}

/* Hamburger Menu */

.hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.35s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    left: 0;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    background: rgb(45, 60, 60);
    transition: all 0.5s ease-in-out;
}

.hamburger-top {
    transform: translateY(-7px);
}

/* .hamburger-middle {
    transform: translateY(0px);
} */

.hamburger-bottom {
    transform: translateY(7px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(-6px) translateY(6px);
}

.open .hamburger-middle {
    transform: translate(-28px);
    background: transparent;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateY(-6px);
}

.stage {
    border-bottom: 0px solid tomato;
    display: flex;
    height: 100px;
    width: 100%;
}

.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: transparent;
    height: 50px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 50px;
}


.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}
@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-60px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.bounce-6 {
    animation-name: bounce-6;
    animation-timing-function: ease;
}
@keyframes bounce-6 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.2)   translateY(-35px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: rgb(14 165 233);;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.swiper {
    height: 16vh;
}


.swiper-slide {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: all 0.5s ease-out;
}